{% extends 'otree/WaitPage.html' %} {% block title %} Waiting Room {% endblock
%} {% block styles %}
<style>
  body,
  html {
    background-color: #000 !important;
    color: #808080 !important;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .otree-body {
    background-color: #000 !important;
    color: #808080 !important;
    max-width: 1920px;
    height: 100vh;
  }

  .card,
  .card-body {
    background-color: #000 !important;
    color: #808080 !important;
  }

  * {
    color: #808080 !important;
  }
</style>
{% endblock %} {% block content %} {{ block.super }}

<div style="text-align: center; margin-top: 20px">
  <p>Thank you for participating. You have been placed in a waiting room.</p>
  <p>We are waiting for other participants to arrive.</p>
  <p>The game will begin shortly.</p>
</div>
{% endblock %}
